#backdrop {
    z-index: -3;
    background-color: #20AA22;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

#project {
    background-color: #404040;
    color: white;
    position: fixed;
    top: 6.5vw;
    left: 10vw;
    right: 10vw;
    height: max-content;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2vw 1vw;
    padding: 2vw;
}
#reviews {
    display: flex;
    position: fixed;
    top: 27vw;
    left: 10vw;
    right: 10vw;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
