nav {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    flex-direction: row;
    text-decoration: none;
}

.user {
    width: 4vw;
    height: 4vw;
}
.title {
    font-size: 24px;
    font-weight: bold;
}
span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}
h5 {
    margin-left: 2vw;
}
a {
    text-decoration: none;
}
